h1{
    text-align: center;
    color: yellowgreen;
}

b{
    
    color: green;
}

p{
    text-align: center;
    color: white;
}
.img2{
    border: 5px solid yellow;
    width: 400px;
    height: 500px;
}
iframe{
    width: 800px;
    height: 450px;
}
.img1{
    border: 3px solid yellow;
    width: 270px;
    height: 500px;
}

th,td{
    width: 10%;
    height: 2%;
    color: white;
    
}
input{
    width: 100%;
    height: 30px;

}
button{
   border-radius: 20px;
width: 300px;
text-align: center;
background-color: yellow;
height: 30px;
}
body{
    background-color: rgb(3, 3, 55);
}





